# General
*.log
*.sqlite3
.DS_Store

# Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.egg
**/*.egg-info/
**/dist/
**/build/
**/.ipynb_checkpoints/
#**/.venv/
#**/.env
**/.mypy_cache/
**/.pytest_cache/
# Python virtual environment in PYTHON/ADAM
PYTHON/ADAM/adam/
PYTHON/OBD/test/

# Go
**/*.exe
**/*.out
**/*.test
**/bin/
**/vendor/
**/*.coverprofile

# Rust
**/target/
**/Cargo.lock
**/*.dSYM
**/*.rlib

# React Native
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.expo/
**/.expo-shared/
**/ios/Pods/
**/android/app/build/
**/android/.gradle/
**/android/.idea/
**/*.iml
**/.idea/

# Arduino
**/*.bin
**/*.elf
**/*.hex
**/*.eep
**/*.map
**/*.lst
**/*.o
**/*.out
**/*.d
**/build/

# Dataset and Documentation files
# **/*.csv
# **/*.xlsx
# **/*.pdf
# **/*.docx
# **/*.json
# **/*.xml
# **/*.parquet
# **/*.zip
# **/*.tar.gz
